<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lyy.newjust">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ijust"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ijust_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main.HeadImageActivity"
            android:theme="@style/HeadImageTheme" />
        <activity android:name=".activity.School.ToDoActivity" />
        <activity android:name=".activity.Setting.SettingsActivity" />
        <activity android:name=".activity.Setting.ProfileActivity" />
        <activity android:name=".activity.Tools.EMSActivity" />
        <activity android:name=".activity.Tools.OCRActivity" />
        <activity android:name=".activity.Tools.EipActivity" />
        <activity android:name=".activity.Tools.TranslateActivity" />
        <activity android:name=".activity.Tools.AudioActivity" />
        <activity android:name=".activity.One.HistoryActivity" />
        <activity android:name=".activity.Main.WelcomeActivity" />
        <activity android:name=".activity.One.WeiBoActivity" />
        <activity android:name=".activity.One.OneActivity" />
        <activity android:name=".activity.Setting.CropViewActivity" />
        <activity android:name=".activity.One.PopupActivity" />
        <activity android:name=".activity.Memory.MemoryDayActivity" />
        <activity android:name=".activity.One.ConstellationActivity" />
        <activity android:name=".activity.Memory.ModifyMemoryActivity" />
        <activity android:name=".activity.Memory.MemoryDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.lyy.newjust.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".widget.todoWidget.ToDoWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_widget_info" />
        </receiver>
        <receiver
            android:name=".util.AlarmReceiver"
            android:process=":remote" />

        <service
            android:name=".widget.todoWidget.ToDoListViewService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.Main.AvatarActivity" />
        <activity android:name=".activity.Setting.FeedBackActivity" />
        <activity android:name=".activity.School.SchoolBusActivity" />
        <activity android:name=".activity.Setting.AboutUSActivity" />
        <activity android:name=".activity.School.SubjectsActivity" />
        <activity android:name=".activity.Main.LoginActivity" />
        <activity android:name=".activity.School.CourseTableActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0bb1c5b27b0a09a1000057" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="4d869c324bbbff0ada86425167d408b1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <activity android:name=".activity.School.LibraryActivity" />
        <activity android:name=".activity.School.ClassRoomActivity" />
        <activity android:name=".activity.School.ClubActivity" />
        <activity android:name=".activity.School.AoLanActivity" />
        <activity android:name=".activity.School.NewSubjectActivity" />
        <activity android:name=".activity.School.BookListActivity" />
        <activity android:name=".activity.School.BookDetailActivity"></activity>
    </application>

</manifest>